{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>List train</h1>
        <br><br>
        <div class="row">
                {% for trajet in trajets %}
                    <div class="col-md-4">
                        <div class="card" style="width: 100%;">
                            <div class="card-header">
                            Train
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trajet.train.name }}</h5>
                                <p class="card-text">Gare de Départ : {{ trajet.gareDepart }}</p>
                                <p class="card-text">Gare d'Arrivé : {{ trajet.gareArrive }}</p>
                                <p class="card-text">Heure de Départ : {{ trajet.heureDepart|date("d/m/Y h:m") }}</p>
                                <p class="card-text">Heure d'Arrivé : {{ trajet.heureArrive|date("d/m/Y h:m") }}</p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-primary ">Réserver</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endfor %}
        </div>
    </div>
    <br><br>
{% endblock body %}