{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <br><br>
        <h1>Train : </h1>
        <br><br>
        <div class="row">
            <h5 class="card-text">Gare de Départ : {{ trajet.gareDepart.name }}</h5>
            <p class="card-text">Gare d'Arrivé : {{ trajet.gareArrive.name }}</p>
            <p class="card-text">Heure de Départ : {{ trajet.heureDepart|date("d/m/y H:i") }}</p>
            <p class="card-text">Heure d'Arrivé : {{ trajet.heureArrive|date("d/m/y H:i") }}</p>
        </div>

            {{  form(form) }}
    </div>
    <br><br>
{% endblock body %}