{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Réserver un train</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                {# Génération manuelle et éclatée : #}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.depart, "Départ", {'label_attr': {'class': 'control-label'}}) }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.depart) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.depart, {'attr': {'class': 'form-control', 'placeholder': "Paris"}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.arrive, "Arriver", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(form.arrive) }}
                        {{ form_widget(form.arrive, {'attr': {'class': 'form-control', 'placeholder': "Auschwitz"}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.heureDepart, "Heure de départ", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(form.heureDepart) }}
                        {{ form_widget(form.heureDepart, {'attr': {'class': 'form_datetime', 'placeholder': "Hitler did"}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.heureArrive, "Heure de arrivé", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(form.heureArrive) }}
                        {{ form_widget(form.heureArrive, {'attr': {'class': 'form_datetime', 'placeholder': "nothing wrong"}}) }}

                    </div>
                </div>
                <div class="text-right">
                    {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'} ,  'label': 'Trouver mon train' }) }}
                </div>
                {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'} ,  'label': 'Trouver mon train' }) }}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts_footer %}
    {{ parent() }}
    <script type="text/javascript">
            $(".form_datetime").datetimepicker({
                language: "fr",
                format: "dd MM yyyy - hh:ii",
                autoclose: true,
                todayBtn: true,
                minuteStep: 5
            });
        </script>
{% endblock javascripts_footer %}
