{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('merci') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <h1>Réserver un train</h1>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                {# Génération manuelle et éclatée : #}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {# Génération du label. #}
                        {{ form_label(form.depart, "Départ", {'label_attr': {'class': 'control-label'}}) }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.depart) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.depart, {'attr': {'class': 'form-control', 'placeholder': "Paris"}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.arrive, "Arriver", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(form.arrive) }}
                        {{ form_widget(form.arrive, {'attr': {'class': 'form-control', 'placeholder': "Auschwitz"}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.jour, "Jours", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(form.jour) }}
                        {{ form_widget(form.jour, {'attr': {'class': 'form_date', 'placeholder': "Hitler did"}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_widget(form.choix, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text-right">
                    {{ form_widget(form.send, {'attr': {'class': 'btn btn-info'} ,  'label': 'Trouver mon train' }) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
                <br><br>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts_footer %}
    {{ parent() }}
    <script type="text/javascript">
            $(".form_date").datetimepicker({
                minView: 2,
                language: "fr",
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                minuteStep: 5
            });
        </script>
{% endblock javascripts_footer %}
